
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

:root {
    --primary-color: #17abb3;   
    --text-dark: #333333;      
    --border-grey: #e3e3e3;     
    --bg-grey: #f5f5f5;         
    --bg-white: #ffffff;        
}


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif; 
    color: var(--text-dark);
    background-color: var(--bg-grey); 
    font-size: 16px;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}